<mat-toolbar class="my-toolbar">
  <a class="app-title" routerLink="/">My Messages</a>
  <nav>
    @if (isAuthenticated) {
      <a
        class="nav-link"
        mat-button
        color="accent"
        routerLink="/create"
        routerLinkActive="active"
      >
        Create Post
      </a>
      <button
        type="button"
        class="nav-link"
        mat-button
        color="accent"
        (click)="logout()"
      >
        Logout
      </button>
    } @else {
      <a
        class="nav-link"
        mat-button
        color="accent"
        routerLink="/login"
        routerLinkActive="active"
      >
        Login
      </a>
    }
  </nav>
</mat-toolbar>
